<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @user.pass %>
</p>

<p>
  <strong>Aid:</strong>
  <%= @user.aid %>
</p>

<p>
  <strong>Money:</strong>
  <%= @user.money %>
</p>

<p>
  <strong>UserId:</strong>
  <%= @user.userid %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
