<p id="notice"><%= notice %></p>

<h1>Listing Auth2s</h1>

<table>
  <thead>
    <tr>
      <th>Otp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth2s.each do |auth2| %>
      <tr>
        <td><%= auth2.otp %></td>
        <td><%= link_to 'Show', auth2 %></td>
        <td><%= link_to 'Edit', edit_auth2_path(auth2) %></td>
        <td><%= link_to 'Destroy', auth2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth2', new_auth2_path %>
