<%= form_for(@auth1) do |f| %>
  <% if @auth1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auth1.errors.count, "error") %> prohibited this auth1 from being saved:</h2>

      <ul>
      <% @auth1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aadharid %><br>
    <%= f.text_field :aadharid %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode %>
  </div>
  <div class="field">
    <%= f.label :misc %><br>
    <%= f.text_field :misc %>
  </div>
  <div class="field">
    <%= f.label :misc2 %><br>
    <%= f.text_field :misc2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
