<p id="notice"><%= notice %></p>

<p>
  <strong>Aadharid:</strong>
  <%= @auth1.aadharid %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @auth1.pincode %>
</p>

<p>
  <strong>Misc:</strong>
  <%= @auth1.misc %>
</p>

<p>
  <strong>Misc2:</strong>
  <%= @auth1.misc2 %>
</p>

<%= link_to 'Edit', edit_auth1_path(@auth1) %> |
<%= link_to 'Back', auth1s_path %>
